/* ///////////////
GERAL
/////////////// */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #ffa917;
    text-align: center;
}

span {
    color: #000;
}

#divisoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#divisoes img {
    width: 100%;
    height: 250px;
    padding: 5px;
}

/* /////////////
GERAL
//////////// */





/* /////////////
Suporte
//////////// */
#contato-geral {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

#contato-geral img {
    width: 100%;
    border-radius: 10px;
}

#formulario {
    border: #000 2px solid;
    padding: 10px;
    border-radius: 10px;
}

#formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* form */

form input[type="text"],
form input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
}

#grid-contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

form textarea {
    height: 130px;
}

form input[type=checkbox] {
    margin: 20px 0;
}

form input[type="submit"] {
    background: #A60832;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 5px 5px #00000064;
}

form input[type="submit"]:hover {
    background: #8e062a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    transition: 0.1s;
}
/* /////////////
Suporte
//////////// */

/* /////////////
Comunicações
//////////// */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  overflow: hidden;
}
  

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 16px rgba(0,0,0,0.2); 
  z-index: 1; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 120px;
  object-fit: cover;
}

.info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}
/* /////////////
Comunicações
//////////// */