header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

header img {
    width: 120px;
}

header nav ul :hover {
    background: #ffa917;
    border-radius: 3px;
    color: #fff;
}